@using System.Globalization
@using Hodler.Contracts.Portfolio.PortfolioSummary
@using Hodler.Web.Components.Shared.Components


@{
    var culture = CultureInfo.CurrentCulture.Name;
    var cultureInfo = CultureInfo.CreateSpecificCulture(culture);

<div class="metrics">
    @{ var totalBtcInvestment = $"{PortfolioSummary.TotalBitcoin} BTC"; }
    <MetricComponent Title="Total BTC"
                     Value="@totalBtcInvestment"
                     Tooltip="The total amount of Bitcoin in your portfolio"/>

    <MetricComponent Title="Total P/L"
                     Value="@PortfolioSummary.FiatReturnOnInvestment.Amount.ToString("C", cultureInfo)"
                     PercentageChange="(decimal?)PortfolioSummary.FiatReturnOnInvestmentPercentage"
                     Tooltip="The total profit you have made from your Bitcoin investments"/>

    <MetricComponent Title="Tax-Free Amount"
                     Value="@PortfolioSummary.TaxFreeFiatReturnOnInvestment.Amount.ToString("C", cultureInfo)"
                     PercentageChange="(decimal?)PortfolioSummary.TaxFreeFiatReturnOnInvestmentPercentage * 100"
                     Tooltip="The profit you have made from your tax-free Bitcoin investments"/>

    <MetricComponent Title="Net Investment"
                     Value="@PortfolioSummary.FiatNetInvested.Amount.ToString("C", cultureInfo)"
                     Tooltip="The total amount of money you have invested in Bitcoin"/>

    <MetricComponent Title="Current BTC Price"
                     Value="@PortfolioSummary.CurrentBitcoinPrice.Amount.ToString("C", cultureInfo)"
                     Tooltip="The current price of Bitcoin in USD"/>

    <MetricComponent Title="Average BTC Price"
                     Value="@PortfolioSummary.AverageBitcoinPrice.Amount.ToString("C", cultureInfo)"
                     Tooltip="The average price you have paid for one Bitcoin"/>

</div>}

@code {
    [Parameter] public required PortfolioSummaryDto PortfolioSummary { get; set; }
}

<style>
     .metrics {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 20px;
         margin-bottom: 30px;
     }
</style>