@using System.Globalization
<RadzenStack Gap="0" class="rz-p-0 rz-p-md-6 rz-p-lg-12">
    <div style="font-size: 30px;"><b>Hello, Hodler!</b></div>
    <br/>
    <RadzenLabel Style="font-weight: lighter; font-size: 20px;" Text="Portfolio Value"></RadzenLabel>
    <RadzenText Style="font-size: 35px;" Text="@CurrentValue.ToString("C", CultureInfo.CurrentCulture)"></RadzenText>
    <RadzenChart>
        <RadzenChartTooltipOptions Shared="@sharedTooltip"/>
        <RadzenAreaSeries Smooth="@smooth"
                          Data="@revenue2024"
                          Title="Portfolio Value"
                          CategoryProperty="Date"
                          ValueProperty="Revenue">
            <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Circle"/>
            <RadzenSeriesDataLabels Visible="@showDataLabels"/>
            <RadzenLegend Visible="false"></RadzenLegend>
            <RadzenValueAxis Visible="false"></RadzenValueAxis>
        </RadzenAreaSeries>
        <RadzenCategoryAxis Padding="20"/>
    </RadzenChart>
</RadzenStack>

@code {
    bool smooth = true;
    bool sharedTooltip = false;
    bool showDataLabels = false;
    bool showMarkers = true;

    [Parameter] public required double CurrentValue { get; set; }
    class DataItem
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
    }
    
    DataItem[] revenue2024 =
    [
        new()
        {
            Date = "Jan",
            Revenue = 500
        },
        new()
        {
            Date = "Feb",
            Revenue = 369000
        },
        new()
        {
            Date = "Mar",
            Revenue = 333000
        },
        new()
        {
            Date = "Apr",
            Revenue = 344000
        },
        new()
        {
            Date = "May",
            Revenue = 314000
        },
        new()
        {
            Date = "Jun",
            Revenue = 353000
        },
        new()
        {
            Date = "Jul",
            Revenue = 374000
        },
        new()
        {
            Date = "Aug",
            Revenue = 384000
        },
        new()
        {
            Date = "Sept",
            Revenue = 373000
        },
        new()
        {
            Date = "Oct",
            Revenue = 382000
        },
        new() { Date = "Nov", Revenue = 389000 },
        new() { Date = "Dec", Revenue = 394000 }
    ];

}

<style>
    .rz-scheme-pastel .rz-series-0 {
        fill: #26b050;
        stroke: #26b050
    }
</style>