@using System.Globalization
@using Hodler.Web.Components.Shared
@using TransactionsSummaryReport = Hodler.Web.TransactionsSummaryReport


@{
    var culture = CultureInfo.CurrentCulture.Name;
    var cultureInfo = CultureInfo.CreateSpecificCulture(culture);

<div class="metrics">
    @{ var totalBtcInvestment = $"{TransactionsSummaryReport.TotalBtcInvestment} BTC"; }
    <MetricComponent Title="Total BTC"
                     Value="@totalBtcInvestment"
                     Tooltip="The total amount of Bitcoin in your portfolio"/>
    
    <MetricComponent Title="Total P/L"
                     Value="@TransactionsSummaryReport.ProfitLossInFiat.ToString("C", cultureInfo)"
                     PercentageChange="(decimal?)TransactionsSummaryReport.ProfitLossInFiatPercentage"
                     Tooltip="The total profit you have made from your Bitcoin investments"/>

    <MetricComponent Title="Tax-Free Amount"
                     Value="@TransactionsSummaryReport.TaxFreeBtcInvestment.ToString("C", cultureInfo)"
                     PercentageChange="(decimal?)TransactionsSummaryReport.TaxFreeProfitPercentage * 100"
                     Tooltip="The profit you have made from your tax-free Bitcoin investments"/>

    <MetricComponent Title="Net Investment"
                     Value="@TransactionsSummaryReport.NetInvestedFiat.ToString("C", cultureInfo)"
                     Tooltip="The total amount of money you have invested in Bitcoin"/>

    <MetricComponent Title="Current BTC Price"
                     Value="@TransactionsSummaryReport.CurrentBtcPrice.ToString("C", cultureInfo)"
                     Tooltip="The current price of Bitcoin in USD"/>

    <MetricComponent Title="Average BTC Price"
                     Value="@TransactionsSummaryReport.AverageBtcPrice.ToString("C", cultureInfo)"
                     Tooltip="The average price you have paid for one Bitcoin"/>
</div>}

@code {
    [Parameter] public required TransactionsSummaryReport TransactionsSummaryReport { get; set; }
}

<style>
     .metrics {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 20px;
         margin-bottom: 30px;
     }
</style>